{% load static %}
<div class="table-responsive container-fluid">
    <table class="table table-bordered text-center">
        <tr>
            <td rowspan="4"><img src="{% static 'img/HOP.png' %}" alt="HOSPITAL OPHIR LOYOLA"></td>
            <td colspan="3">HOSPITAL OPHIR LOYOLA</td>

            <td rowspan="4"><img src="{% static 'img/GEP.png' %}" alt="HOSPITAL OPHIR LOYOLA"></td>
        </tr>
        <tr>

            <td colspan="3">PROTOCOLO MULTIPROFISSIONAL</td>


        </tr>
        <tr>

            <td colspan="3">CHECKLIST DE CIRURGIA SEGURA</td>


        </tr>
        <tr>

            <td>Código:</td>
            <td>Versão: 002</td>
            <td>Página: 1</td>

        </tr>

    </table>

</div>




