{% extends "base/main.html" %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        <div class="row g-3 container-fluid">
            {% block form %}

            {% endblock form %}
        </div>
        <div class="fixed container-fluid mt-4 mb-4 ">
            <ul class="list-inline text-right">
                <li class="list-inline-item ">
                    <button type="submit" class="btn btn-secondary"><span class="bi bi-save"></span> SALVAR</button>
                    <button type="reset" class="btn btn-secondary"><span class="bi bi-save"></span> Limpar</button>
                    {% block adicionar_button %}
                    {% endblock adicionar_button %}
                </li>

            </ul>
        </div>
    </form>
{% endblock main %}