{% extends "base/create.html" %}
{% load crispy_forms_filters %}

{% block form %}
    <div class="row g-3 container-fluid mt-2 mb-2 border p-2">
        <h1>NECESSIDADES PSICOBIOLÓGICAS</h1>
        <div class="row g-1 container-fluid mt-2 mb-2 border p-2">
            {{ form.questionario03|as_crispy_field }}

            <div class="row g-3 container-fluid">
                <h1>OXIGENAÇÃO E CIRCULAÇÃO</h1>
                <div class="col-md-3">
                    {{ form.respiracao|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.ap|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.batimentos_cardiacos|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.pressao_arterial|as_crispy_field }}
                </div>
            </div>

            <div class="row g-3 container-fluid">
                <h1>HIDRATAÇÃO E NUTRIÇÃO</h1>
                <div class="col-md-3">
                    {{ form.aceita_dieta_oferecida|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.abdome|as_crispy_field }}
                </div>
            </div>

            <div class="row g-3 container-fluid">
                <h1>ELIMINAÇÃO</h1>
                <div class="col-md-3">
                    {{ form.diurese|as_crispy_field }}
                    {{ form.diurese_caracteristicas|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.evacuacoes|as_crispy_field }}
                    {{ form.evacuacoes_n_dias|as_crispy_field }}
                </div>
            </div>

            <div class="row g-3 container-fluid">
                <h1>SONO E REPOUSO</h1>
                <div class="col-md-3">
                    {{ form.sono_repouso|as_crispy_field }}
                </div>
            </div>

            <div class="row g-3 container-fluid">
                <h1>MOTILIDADE E LOCOMOÇÃO</h1>
                <div class="col-md-3">
                    {{ form.membros_inferiores|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.sinal_homans|as_crispy_field }}
                </div>
            </div>

            <div class="row g-3 container-fluid">
                <h1>CUIDADO CORPORAL</h1>
                <div class="col-md-3">
                    {{ form.higiene|as_crispy_field }}
                </div>
            </div>
            <div class="row g-3 container-fluid">
                <h1>INTEGRIDADE CUTÂNEO - MUCOSA</h1>
                <div class="col-md-3">
                    {{ form.pele_mucosa|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.pele_mucosa_outros|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.inicisao_cirurgica|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.inicisao_cirurgica_quais|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.perineo|as_crispy_field }}
                </div>
            </div>

            <div class="row g-3 container-fluid">
                <h1>REGULAÇÃO NEUROLÓGICA</h1>
                <div class="col-md-3">
                    {{ form.nivel_consciencia|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.nivel_consciencia_outros|as_crispy_field }}
                </div>
            </div>

            <div class="row g-3 container-fluid">
                <h1>SEXUALIDADE E REPRODUÇÃO</h1>
                <div class="col-md-3">
                    {{ form.mamas|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.mamilos|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.colostro_expresssao|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.amamentacao|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.amamentacao_motivos|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.perdas_vaginais_caracteristicas|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.utero|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.involucao_uterina|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.involucao_uterina_acima_cu|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.loquios|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.loquios_aumentados_quantidade|as_crispy_field }}
                </div>
            </div>

            <div class="row g-3 container-fluid">
                <h1>DADOS VITAIS E CONTROLES</h1>
                <div class="col-md-3">
                    {{ form.ssvvt|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.fc|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.r|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.pa|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.hgt|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.peso|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.atura|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.spo2|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.exames_alterados|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.sifilis|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.ts_mae|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.rn|as_crispy_field }}
                </div>
            </div>


        </div>

    </div>

{% endblock form %}

{#            <div class = "col-md-3">#}
{#                {{ form.prontuario_completo|as_crispy_field }} {{ form.prontuario_completo_se_nao|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.possui_dispositivos|as_crispy_field }} {{ form.possui_dispositivos_se_sim|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.procedimento_confirmado|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.termo_consentimento_c_a|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.exames_laborat_i_d|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.risco_perda_s|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.resserva_hemoderivados|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.resserva_CTI|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.sitio_cirurgico_d|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.jejum|as_crispy_field }} {{ form.jejum_se_sim|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.alergia_conhecida|as_crispy_field }} {{ form.alergia_conhecida_se_sim|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.triconomia_realizada|as_crispy_field }} {{ form.triconomia_realizada_se_sim_01|as_crispy_field }} {{ form.triconomia_realizada_se_sim_02|as_crispy_field }} {{ form.triconomia_realizada_se_sim_03|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.realizou_quimeoterapia|as_crispy_field }} {{ form.realizou_quimeoterapia_se_sim_01|as_crispy_field }} {{ form.realizou_quimeoterapia_se_sim_02|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.realizou_radioterapia|as_crispy_field }} {{ form.realizou_radioterapia_se_sim_01|as_crispy_field }} {{ form.realizou_radioterapia_se_sim_02|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.realizou_hemodialise|as_crispy_field }} {{ form.realizou_hemodialise_se_sim_01|as_crispy_field }} {{ form.realizou_hemodialise_se_sim_02|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.realizou_transplante_o|as_crispy_field }} {{ form.realizou_transplante_o_se_sim|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.verificacao_anestesica_m_v_m_e_a|as_crispy_field }} {{ form.verificacao_anestesica_m_v_m_e_a_se_nao|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.vias_aereas_d_r_a|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.tempo_previsto_cirurgia|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.data_cadastro|as_crispy_field }}#}
{#            </div>#}
{#            <div class = "col-md-3">#}
{#                {{ form.atualizado|as_crispy_field }}#}
{#            </div>#}

{#    <div class = "fixed container-fluid mt-2 mb-2 p-3">#}
{#        <ul class = "list-inline text-right">#}
{#            <li class = "list-inline-item">#}
{#                <button#}
{#                        type = "reset"#}
{#                        class = "btn btn-secondary">Limpar#}
{#                </button>#}
{#                <button#}
{#                        type = "submit"#}
{#                        class = "btn btn-secondary">Salvar#}
{#                </button>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}