{% extends 'base/base.html' %}

{% block main %}
    <div class="table-responsive fixed container-fluid mb-2 p-2">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Detalhes</th>
                <th>Deletar</th>
                <th>Prontuário</th>
                <th>Paciente</th>
                <th></th>
                <th>Sala de Cirurgia</th>
                <th>Data da Cirurgia</th>
                <th>Data da Cadastro</th>
            </tr>
            </thead>
            <tbody>
            {% for questionario01 in questionarios01 %}
                <tr>
                    <td>
                        <a
                                href="{% url 'questionario03.detail' pk=questionario01.id %}"
                        ><span class="bi bi-person-lines-fill"></span
                        ></a>
                    </td>
                    <td>
                        <a href=""><span class="bi bi-trash-fill"></span></a>
                    </td>
                    <td>{{ questionario01.paciente.prontuario }}</td>
                    <td>{{ questionario01.paciente.usuario.nome_completo }}</td>
                    <td>{{ questionario01.cirurgia_proposta }}</td>
                    <td>{{ questionario01.sala_cirurgica }}</td>
                    <td>{{ questionario01.data_cirurgia }}</td>
                    <td>{{ questionario01.data_cadastro }}</td>
                </tr>
            {% empty %}
                <p>Nenum registro</p>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main %}
