<a class="btn btn-secondary" href="{% url 'questionario03pk.create' pk=paciente.id %}">
    <span class="bi bi-plus-circle"></span> Incluir
</a>

{##}
{#<a#}
{#        class="btn btn-secondary"#}
{#        href="{% url 'questionario01pk.create' pk=paciente.id %}">#}
{#    <span class="bi bi-list"></span> Cirurgia Segura#}
{#</a>#}
{#<a#}
{#        class="btn btn-secondary"#}
{#        href="{% url 'questionario01pk.list' pk=paciente.id %}">#}
{#    <span class="bi bi-list"></span> Lista Cirurgia Segura#}