{% extends 'base/list.html' %}


{% block adicionar_button %}
    {% include "base/button/button_list_paciente.html" %}
    {% include "base/button/button_create_paciente.html" %}
{% endblock adicionar_button %}

{% block table %}
    <thead>
    <tr>
        <th>Detalhar</th>
        <th>Excluir</th>
        <th>Atualizar</th>
        <th>Prontuário</th>
        <th>CPF</th>
        <th>Nome</th>
        <th>Data do Cadastro</th>
    </tr>
    </thead>
    <tbody>
    {% for paciente in paciente %}
        <tr>
            <td>
                <a
                        href = "{% url 'paciente.detail' pk=paciente.id %}"><span class = "bi bi-person-lines-fill"></span></a>
            </td>
            <td>
                <a
                        href = "{% url 'paciente.delete' pk=paciente.id %}"><span class = "bi bi-trash-fill"></span></a>
            </td>
              <td>
                <a
                        href = "{% url 'paciente.update' pk=paciente.id %}"><span class = "bi bi-trash-fill"></span></a>
            </td>
             <td>{{ paciente.prontuario }}</td>
            <td>{{ paciente.usuario.cpf }}</td>
            <td>{{ paciente.usuario.nome }}</td>
            <td>{{ paciente.data_cadastro }}</td>

            {#            <td>{{ paciente.data_cadastro }}</td>#}
        </tr>
    {% empty %}
        <p>Nenum registro</p>
    {% endfor %}
    </tbody>
{% endblock table %}
